# Dependencies
/node_modules

# Temporary files
C:UsersP10395571Desktoptest_modified
debug_player.js

# Gemini project memory file
/.gemini_project_memory.md

# Log files
*.log
/src/config/device_ids.js

cert.pem
key.pem
